{% extends 'index.html' %}
<!-- {% block title %} Intern {% endblock %} -->
{% block content %}
<!--OSM-->
{% load static %}
<!--Map-->
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {% include 'layout/navbar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <!-- Topbar -->
            {% include 'layout/topbar.html' %}
            <!-- End of Topbar -->

            <!-- Begin Page Content -->

</form>

<div class="container-fluid h-100 pt-4 darker-nw">
  <!-- Content Row -->
  <div class="card-body d-blue rounded card-cus">
      <h4 class="pb-4 text-white">
        Update Intern ID:{{user.id}} 
          <span style="cursor: pointer; float: right; font-size: 1.5em;"></span>
      </h4>

      <form class="form-horizontal" method="POST" action="/updatesubmituser" enctype="multipart/form-data"> <!-- pergi ke controller pastu g ke function dia  -->
          {% csrf_token %}

          <div class="form-group">
            <input type="text" value= {{ user.id }} name="id" hidden>
            <label class="control-label col-sm-2" for="user">First Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="first_name" id="first_name" value= "{{ user.first_name }}">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="user">Last Name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="last_name" id="last_name" value= "{{ user.last_name }}">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="user">Username:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="username" id="username" value= "{{ user.username }}">
            </div>
          </div>
        
         <br>
          <!-- Submit Button-->
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" id="submit">Submit</button>
            </div>
          </div>
        </form>
        </div>
        </div>
        </div>
        </div>
</div>
<!-- End of Main Content -->

  <!--Coding for Upload File--> 
  {% if uploaded_file_url %}
  <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

 <!-- Footer -->
 {% include 'layout/footer.html' %}
 <!-- End of Footer -->

 {% endblock %}
